<footer id="footer">
  <div class="cs-container">
    <div class="cs-top">
      <ul class="cs-ul">
        <li class="cs-li"><a href="/" class="cs-link">Home</a></li>
        <li class="cs-li"><a href="/#services" class="cs-link">Services</a></li>
        <li class="cs-li"><a href="/#about" class="cs-link">About</a></li>
        <li class="cs-li"><a href="/#gallery" class="cs-link">Gallery</a></li>
        <li class="cs-li"><a href="/blog/" class="cs-link">Blog</a></li>
        <li class="cs-li"><a href="/#pricing" class="cs-link">Pricing</a></li>
        <li class="cs-li"><a href="/#contact" class="cs-link">Contact</a></li>
      </ul>
    </div>
  </div>
</footer>

<script defer src="/js/navigation.js"></script>
