<header id="cs-navigation">
  <div class="cs-top-bar"></div>
  <div class="cs-container">
    <a href="/" class="cs-logo" aria-label="back to home">
      <img src="/assets/logos/horiz_rt_fulllogo_transparent_nobuffer_sm.webp" alt="logo" width="197" height="43" aria-hidden="true" decoding="async">
    </a>

    <nav class="cs-nav" role="navigation">
      <button class="cs-toggle" aria-label="mobile menu toggle">
        <div class="cs-box" aria-hidden="true">
          <span class="cs-line cs-line1" aria-hidden="true"></span>
          <span class="cs-line cs-line2" aria-hidden="true"></span>
          <span class="cs-line cs-line3" aria-hidden="true"></span>
        </div>
      </button>

      <div class="cs-ul-wrapper">
        <ul id="cs-expanded" class="cs-ul" aria-expanded="false">
          <li class="cs-li"><a href="/" class="cs-li-link">Home</a></li>
          <li class="cs-li"><a href="/#services" class="cs-li-link">Services</a></li>
          <li class="cs-li"><a href="/#about" class="cs-li-link">About</a></li>
          <li class="cs-li"><a href="/#gallery" class="cs-li-link">Gallery</a></li>
          <li class="cs-li"><a href="/blog/" class="cs-li-link">Blog</a></li>
          <li class="cs-li"><a href="/#pricing" class="cs-li-link">Pricing</a></li>
        </ul>
      </div>
    </nav>

    <a href="/#contact" class="cs-button-solid cs-nav-button">Contact Us</a>
  </div>
</header>
