---
layout: layouts/base.njk
title: Blog
description: Articles and updates from Blue Canary Web Design.
permalink: blog/index.html
---

<div id="blog-index">
  <div class="cs-content">
    <span class="cs-topper">Blog</span>
    <h1 class="cs-title">Blog</h1>
    <p class="cs-text">Articles and updates from Blue Canary Web Design.</p>
  </div>

  <ul class="cs-blog-card-group">
    {%- for post in collections.post | reverse -%}
      <li class="cs-blog-card">
        <h2 class="cs-blog-card-title">
          <a class="cs-blog-card-link" href="{{ post.url }}">{{ post.data.title }}</a>
        </h2>

        {% if post.data.date %}
          <p class="cs-blog-meta">
            <time datetime="{{ post.data.date | dateToRfc3339 }}">{{ post.data.date | readableDate }}</time>
          </p>
        {% endif %}

        {% if post.data.description %}
          <p class="cs-text cs-blog-card-description">{{ post.data.description }}</p>
        {% endif %}

        <a class="cs-blog-readmore" href="{{ post.url }}">Read more</a>
      </li>
    {%- endfor -%}
  </ul>

  <p class="cs-text cs-blog-footer">
    <a class="cs-blog-rss" href="/feed.xml">RSS feed</a>
  </p>
</div>
