backend:
  name: github
  repo: paulnicholsen27/blue-canary-cs
  branch: production
  auth_endpoint: /.netlify/functions/oauth

media_folder: "assets/images/uploads"
public_folder: "/assets/images/uploads"

publish_mode: simple

collections:
  - name: "posts"
    label: "Blog Posts"
    folder: "content/posts"
    create: true
    slug: "{{slug}}"
    extension: "md"
    format: "frontmatter"
    fields:
      - { label: "Title", name: "title", widget: "string" }
      - { label: "Description", name: "description", widget: "string", required: false }
      - { label: "Publish Date", name: "date", widget: "datetime", date_format: "YYYY-MM-DD", time_format: false }
      - { label: "Tags", name: "tags", widget: "list", required: false }
      - { label: "Body", name: "body", widget: "markdown" }
